service: hello-world

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs16.x

plugins:
  - serverless-offline

package:
  patterns:
    - "dist/**/*.js"
    - "!dist/**/*.js.map"
    - "!src/**"
    - "!serverless.yml"
    - "!tsconfig.json"
    - "!package.json"
    - "!package-lock.json"
  individually: true

functions:
  hello-world:
    handler: dist/handler.hello
    name: hello-world
    description: Hello world function with typescript
    memorySize: 128
    runtime: nodejs16.x
    timeout: 10
    events:
      - http:
          path: hello
          method: GET
